 html {
            font-size: clamp(16px, 1.5vw + 0.25rem, 20px);
        }
        body {
            font-family: 'Inter', sans-serif;
            -webkit-tap-highlight-color: transparent;
        }
        .nav-item.active svg,
        .nav-item.active .nav-text {
            color: #0ea5e9; /* sky-500 */
        }

        /* --- Animasi Transisi Halaman --- */
        @keyframes page-fade-in {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .page, .sub-page, .modal-container { display: none; }

        .page.active { 
            display: block; 
            animation: page-fade-in 0.3s ease-out;
        }
        .sub-page.active { 
            display: flex;
            animation: page-fade-in 0.3s ease-out;
        }
        .modal-container.active { 
            display: flex;
        }
        
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
        .form-field { display: block; }
        .form-field.hidden { display: none; }
